body {
  margin: 0;
  font-family: Ubuntu;
  width: 100%;

  line-height: 1.6;
  color: #161c2d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* background: url("/assets/Images/Ellipse\ 2.png"); */
}

.intro__inner {
  width: 100%;
  max-width: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;
}

.left {
  padding-top:20px ;
  margin: 0 auto;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	width: 70%;
}
.right {
  flex: 1 1 50%;
	/* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.intro__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}

.header {
  width: 100%;
  padding: 50px 0px;
  z-index: 1000;
  justify-content: space-between;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.header__logo {
  font-weight: 700;
  align-items: center;
  /* padding-right: 81px; */
}

.nav {
  text-transform: uppercase;
  padding-left: 0px 81px 0px 81px;
}

.nav__link {
  vertical-align: top;
  padding: 0px 12px 0px 12px;
  color: #161c2d;
  font-size: 18px;
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;

  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #bedf77;
}

.btn {
  display: flex;
  justify-content: center;
  vertical-align: top;
  border-radius: 8px;
  padding: 10px 23px 10px 23px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;

  background-color: #bedf77;
  color: #161c2d;
}

.btn__text {
  display: flex;
}

.btn__platform {
  padding: 16px 32px 16px 23px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #bedf77;
  text-decoration: none;
  color: #161c2d;
}

.images__box {
  max-width: 100%;
  position: relative;
}

p {
  font-weight: 500;
  font-size: 18px;
  font-family: Poppins;

  line-height: 100%;
  text-align: left;
}



/* SECTION */
/* .about__item {
  width: 100%;
  display: flex;
  align-items: flex-start;
} */

.item{
	display: flex;
  flex-wrap:wrap-reverse;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
	justify-content: space-around;
	
}

.about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.section__header {
  display: flex;
}


/* ??? */
.section__product{
	width: 100%;
	flex-direction:row ;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.section__suptitle {
  padding-left: 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: center;
  
  color: #bedf77;
}

.section__title {
  padding-left: 100px;
	font-size: 64px;
  font-weight: 400;
  text-align: left;
  
}

.section__text p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  padding-top: 0;
  padding-left: 100px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 25.3px;
  text-align: left;
  padding-left: 100px;
}

span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.stage__s {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  color: #00000080;
  
}

.stage {
	width:  auto;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
 padding-left: 100px;
}

.about__item {
  display: flex;
  align-items: flex-start;
}


/* ????????? */
.section__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  flex: 1;
  margin-top: 10px;
}

.top-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
 
}
.images {
  text-align: center;
  margin-top: 30px;
}

.image {
  display: block;
  margin: 0 auto;
  border-radius: 20px 20px 1px 1px;
}

.text {
  text-align: center;
  margin-top: 10px;
}

.text p:first-child{
  width: 183px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
 margin-left: 50px;
  color: #00000080;

}

.text p:last-child{
  width: 294px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  color: #161C2D;
  margin-right: 26px;
}


.bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.bottom-row p {
  display: flex;
  flex-direction: column;
}


/*?????????????*/
.section__input {
  width: 100%;
  /* height: 508px; */
  padding: 32px 15px 24px;
  background-color: #161C2D;

}

.product{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  align-items: flex-start;
}

.product__input{
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin: 65px 535px 0px 173px;
  width: 730px;
}

.product p{
  width:100%;
  font-size: 24px;
  font-weight: 400;
  line-height:24px;
  padding-right: 120px;
  margin: 16px 710px 10px 173px;
  
}

.dropdown {
  width: 600px;
  display: flex;
  padding: 10px ;
  border-radius: 12px;
  background: #FFFFFF;
  align-items: start;
  justify-content: flex-start;
  margin: 10px 10px 10px 10px;
}

.dropdown:hover {
  border-color: #666;
}

.dropdown:focus {
  outline: none;
  border-color: #3366ff;
  box-shadow: 0 0 5px rgba(51, 102, 255, 0.5);
}

.dropdown select {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: transparent;
}

/*??????????????????????????????????????????????????*/
.section__order{
  width: 100%;

}

.order{
  width: 100%;

}

.order__suptitle{
  font-size: 18px;
  font-weight: 400;
  padding: 100px 973px 2px 175px;
  text-align:left;
  color: #bedf77;
}

.order__title{
  width: 100%;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  padding:11px 699px 45px 170px ;
}

.order__content{
  display: flex;
  justify-content: flex-start;
}

.left__order{
  flex: 1;
  padding: 20px ;
  margin: 0px 0px 24px 171px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	max-width: 534px;
  border-radius: 8px;
  background-color: #BEDF77;

}

.text__order{
  width: 474px;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #161C2D;

}

.left__order p{
 width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color:  #00000080;
  
}

.inpt__place {
  width: 432px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #161C2D;
  padding: 16px 23px 16px 23px;
}

.order__inpt{
  width: 208px;
  padding: 16px 23px 16px 23px;
  border-radius: 8px;

}

.right__order {
  flex: 1;
  padding: 20px;
  margin: 0px 210px 24px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	max-width: 534px;
  border-radius: 8px;
}

.right__order p{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color:  #00000080;

}

.inpt__place{
  width:432px;
  padding: 16px 23px 16px 23px;
  border-radius: 8px;
 
  border: 1px solid #BEDF77
}

.left__orders{
  flex: 1;
  padding: 20px;
  margin: 0px 0px 24px 171px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	max-width: 534px;
  border-radius: 8px;


}

.text__orders{
  width: 474px;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #161C2D;

}

.left__orders p{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #161C2D;
   
 }

 .right__orders {
  flex: 1;
  padding: 20px;
  margin: 0px 310px 24px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	max-width: 534px;
  border-radius: 8px;
  background-color: #BEDF77;
}

.right__orders p{
  width: 385px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color:  #00000080;

}

.container__order{
  max-width: 1150px;
  margin: 20px 0px 100px 175px;
  display: flex;
  left: 175px;
  padding: 30px ;
  border-radius: 8px ;
  justify-content: space-between;
  background-color: #BEDF77;
}

.left__payment p{
  color: #00000080;
}


/*FOOTERS*/
.footer{
  width: 100%;
  padding-top: 64px;
  background-color: #161C2D;
}

.footer__inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; 
  max-width: 1400px; 
  margin: 0 auto;
}


.footer__logo{
  width: 181px;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;

}

.footer__label{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 16px 0px 32px 32px ;
  color: #BEDF77;

}

.marking{
  width: 70%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;
}

.footer__marking{
  margin: 5px; 
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.footer__input{
  width: 70%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;
}

.footer__button{
  width: 322px;
  display: flex;
  justify-content: flex-end;

  border-radius: 8px;
  margin: 32px 13px 23 px 32px;
}

.footer__btn{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding: 16px 23px 16px 23px;
  margin-top: 32px;
  border-radius: 8px ;
  background: #BEDF77

}


.copyright{
  width: 100%;
  padding: 24px 0;
  border-top: 1px solid #FFFFFF;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF80;
  margin: 60px 0;
  
}